<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <div class="container-fluid">
      <div class="row" id="tools">

      </div>
      <div class="row" id="editor">
        <div class="clo-xs-6" id="editor-edit">

        </div>
        <div class="clo-xs-6" id="editor-show">

        </div>
      </div>
    </div>


    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.1.4/vue.min.js"></script>
    <script src="/javascripts/analysis.js"></script>
    <script>
      new Vue({
        el : "",
        data : {

        }
      })
    </script>
  </body>
</html>
